/*
    La tipografía es la ciencia que estudia el diseño y uso de los tipos de letra
    Las fuentes son tipos específicos de letra
    Los glifos son cada uno de los dibujos que representan cada símbolo de la fuente, incluidos los espacios.
    Los estilos de fuente son las modificaciones que se hacen a las fuentes, como el grosor o la inclinación.
    Familia tipográfica, son las diferentes fuentes que pertenecen a una misma fuente base.
    Cuando usamos una propiedad text-* estamos saliendodo a un bloque completo
    Cuando utilizamos una propiedad font-* afectamos a la fuente del texto.
    Fuentes seguras, son las fuentes que se consideran seguras ya que son genéricas y no fundamentan una familia    tipográfica, si no un estilo de fuente.
        serif: Fuentes que tienen serifas (adornos en los caracteres)
        sans-serif: Fuentes sin serifas
        monospace: Fuentes que tienen el mismo espacio entre todos sus caracteres.
        cursiva: Fuentes que pretenden emular escritura a mano, con ligaduras y trazos fluidos
        fantasía: Fuentes que suelen ser decorativas
    Fuentes desde un servidor remoto, son fuentes que se encuentran en un servidor y que nosotros descargamos para su uso, la más famosa es Google Fonts Siempre que utilicemos fuentes no genéricas, debemos poner fuentes genéricas de respaldo (respaldo)
    
    Iconos de Google
        Iconos de materiales
        https://fonts.googleapis.com/css?family=Material+Iconos
        Iconos de materiales delineados
        https://fonts.googleapis.com/css?family=Material+Icons+Outlined
        Iconos de material de dos tonos
        https://fonts.googleapis.com/css?family=Material+Icons+Dos+Tonos
        Iconos de materiales redondeados
        https://fonts.googleapis.com/css?family=Material+Icons+Round
        Iconos de materiales afilados
        https://fonts.googleapis.com/css?family=Material+Icons+Sharp
      
        Nota: Si vas a usar una gran cantidad de iconos en tu web compensa usar la librería remota
        Si sólo usarás unos pocos es mejor descargarlos en formato svg y utilizarlos como imágenes
    Formatos para fuentes
        True Type Font (TTF) -> Fue el primer formato estándar.
        Open True Type Font (OTF) -> Facilita o implementa la creación de las curvas.
        Web Open Font Format (WOFF) (WOFF2) -> Es un formato mucho más ligero y mejora el rendimiento. Funciona a través de metadatos. WOFF tiene soporte total y WOFF2 no funciona en Internet Explorer.
        Scalable Vector Graphics (SVG) -> Para efectos y animaciones sobre el texto, no es recomendable usar en el texto genérico de la web, tiene muchos problemas.
        Embedded Open Type (EOT) -> Primer formato digital propuesto para sitios WEB y es comprimido. Se quedó como una propuesta pero no pasó a ser un estándar.
    Regla @font-face
        Esta es la forma de utilizar fuentes que tenemos descargadas y que no traemos de un servidor remoto, cuando usamos fuentes de Google, esto es lo que está pasando por detrás.
        La sintaxis es:
            @Perfil delantero {
                font-family: Nombre de la familia, se lo asignamos nosotros;
                src: aquí pondremos dos tipos de valores.
                local() -> pondremos el nombre de la fuente para buscarla en el ordenador del usuario, de esa forma no podremos evitar descargarla
                url() -> Si no encontramos esa fuente procederemos a descargarla.
                Existe otro valor, menos usado que es formato
                format() -> Este valor lo pasaremos de forma opcional si queremos ser más específicos con la fuente que vamos a buscar o descargar, si no lo ponemos cogerá el primer formato soportado, si lo ponemos sólo usará el que hemos establecido, y si no lo encuentra no hará nada.
            }
            Podemos añadirle más valores como font-style, font-weight y font-display(experimental), pero esos son opcionales.
    transformaciones de texto
        Text-transform: Esta propiedad nos permite hacer transformaciones ESTÉTICAS en nuestro texto.
        Admite los valores:
            none: No se aplicará ninguna transformación.
            mayúsculas: El texto se pondrá en mayúsculas
            minúsculas: El texto se pondrá en minúsculas
            capitalize: Transforma la primera letra de cada palabra en mayúscula.
    Adornos en el texto
        Texto-decoración: Esta propiedad nos permite controlar la línea que podemos poner en los textos.
        Admite los valores:
            none: Elimina cualquier línea.
            subrayado: Coloca una linea bajo el texto.
            overline: Coloca una linea sobre el texto.
            line-through: Coloca una linea tachando el texto.
        Text-shadow: Funciona exactamente igual que box-shadow, con la única diferencia de que no admite el valor inset ni la expansión de la sombra.
        Los valores hijo:
            offsetX: desplazamiento horizontal.
            offsetY: desplazamiento vertical
            desenfoque: desenfoque.
            color: color, por defecto coge el del texto.
    Espaciado en fuentes y textos
        letter-spacing: Establece la separación entre caracteres, se puede establecer en cualquier medida válida para CSS
        espacio entre palabras: Establece la separación entre palabras,
        se puede establecer en cualquier medida válida para CSS
        line-height: Establece el alto de cada línea, se puede dar una medida concreta o se puede poner un número que se multiplicará por el tamaño de fuente del texto al que se lo estemos aplicando.
    Orientación del texto.
    modo escritura: Establece la dirección del texto
*/

@font-face {
    font-family: 'hola';
    src: url(../Fonts/Roboto-LightItalic.ttf);
}

* {
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  
}

.text-tex1 {
  font-family: sans-serif;
}

.text-tex2 {
  font-family: cursive;
}

.text-tex3 {
  font-family: fantasy;
}

.text-tex4 {
  font-family: monospace;
}
.tex5{
    font-family: 'Macondo', cursive;
    font-family: 'Roboto', sans-serif;
}
.tex6{
    font-family: 'hola';
    text-transform: uppercase;
    text-shadow: 2px 2px rgb(103, 103, 103 ), 4px 4px rgb(103, 8, 8) ;
    letter-spacing: 3px;
    word-spacing: 8px;
    line-height: 30px;
    text-align: center;

}
span{
    background-color: blue;
    margin: 0%;
    width: 300px;
    height: 300px;

}
.icon{
    font-size: 40px;
    padding: 3px;
    color: red;
    height: 3rem;
    width: 3rem;
}

.adorno1{
    text-transform: lowercase;
}
.adorno2{
    text-transform: capitalize;
}
.adorno3{
    text-transform: uppercase;
}
.link{
    color: white;
    margin-top: 40px;
}
.link1{
    text-decoration: none;
}
.link2{
    text-decoration: inherit;
}
.link3{
    text-decoration: overline;

}
.link4{
    text-decoration: line-through;

}
.link5{
    color:inherit;
    text-decoration: none;
    border-bottom: 10px solid white;

}
.container1{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: red;
    width: 300px;
    height: 300px;
    text-align: center;
    line-height: 300px;
    writing-mode: vertical-lr;
}
.container2{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: red;
    width: 300px;
    height: 300px;
    text-align: center;
    line-height: 300px;
    writing-mode: vertical-lr;
}
.container3{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: red;
    width: 15px;
    height: 300px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    word-break: break-all;
}